body {
    font-size: 110%; /* == approx. 17.6px by default */
    font-family: Cambria, Georgia, serif;
    line-height: 1.5;
}

/*  All other elements should have margins that are multiples of
 *  the magic number
 */
p, ul, ol, img {
    margin-bottom: 1.5em; /* 24px == (16 * 1.5) */
}

.massive-title {
    font-size: 3em;       /* == 48px / 16px */
    line-height: 1em;     /* == 24px / 48px actually equals 0.5, but
                                       that's too little in case the heading has more than a single line.
                                       In this cases, it's safe to double it. */
    margin-bottom: 0.5em; /* == 24px / 48px */
}

h1, .title1 {
    font-size: 1.5em;    /* == 24px / 16px */
    line-height: 1em;    /* == 24px / 24px */
    margin-bottom: 1em;  /* == 24px / 24px */
}

h2, .title2 {
    font-size: 1.375em;       /* == 22px / 16px */
    line-height: 1.0909em;    /* == 24px / 22px */
    margin-bottom: 1.0909em;  /* == 24px / 22px */
}

h3, .title3 {
    font-size: 1.25em;    /* == 20px / 16px */
    line-height: 1.2em;   /* == 24px / 20px */
    margin-bottom: 1.2em; /* == 24px / 20px */
}

h4, .title4 {
    font-size: 1.125em;     /* == 18px / 16px */
    line-height: 1.333em;   /* == 24px / 18px */
    margin-bottom: 1.333em; /* == 24px / 18px */
}

h5, .title5 {
    font-size: 1em;         /* == 16px / 16px */
    line-height: 1.5em;     /* == 24px / 16px */
    margin-bottom: 1.5em;   /* == 24px / 16px */
}
